	body{
		background-color: #F2F2F2;
	}
	.fontruda{
		  font-size: 40px;
		  /*padding-top: 100px;*/
		  font-family: 'Ruda', sans-serif; 
		  font-weight: bold;
		  color: white
	}
	.background1{
      background-image: url("image1.jpeg");
      -webkit-background-size: cover;
      font-weight: bold;
      color: white;
      padding-top: 160px;
      padding-bottom: 160px;
	}
	.background2{
      background-image: url("image6.jpg");
      -webkit-background-size: cover;
      font-weight: bold;
      color: white;
      padding-top: 100px;
      padding-bottom: 100px;
	}
	.fontruda1{
  		font-size: 25px;
   		padding-top: 50px;
   		font-family: 'Ruda', sans-serif; 
	    font-weight: bold;
    }
	
	.space{
		padding-bottom: 20px;
	}	
	.grayfont{
		color: 	#868686;
	}

	.bgblack{
      /*font-weight: bold;*/
      color: white;
      /*height: 300px;*/
      background-color: #2f2f2f;
      /*padding-left: 150px;
      padding-right: 150px;*/
    }
    .bgwhite{
      /*font-weight: bold;*/
      /*color: white;*/
      /*height: 300px;*/
      background-color: #F7F7F7;
      padding-left: 150px;
      padding-right: 150px;
    }
